<div id="wrapper" [ngClass]="{'active': isClassVisible }">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a id="menu-toggle" href="javascript:;" class="btn-menu toggle" (click)="isClassVisible = !isClassVisible;">
                        <i class="fa-left fa fa-bars"></i>
                    </a>
                    <!--<a [routerLink]="['/']">
                        <img src="http://uni-wissen.com/static/uniwissen/img/red2.png" alt="logo" width="30" height="30">
                    </a>-->
                </div>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a role="button" *ngIf="isLogin" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand">
                    <a [routerLink]="['/']"><span class="fa fa-home ">Home</span></a>
                </li>
                <li class="sidebar-brand">
                    <a href="javascript:;" (click)="isShowDropdown = !isShowDropdown;">
                        <span class="fa fa-angle-down" *ngIf="isShowDropdown">angle</span>
                        <span class="fa fa-angle-up" *ngIf="!isShowDropdown">angle</span>
                    </a>
                    <ul class="hide" [ngClass]="{'show': isShowDropdown }">
                        <li class="sidebar-brand"><a [routerLink]="['/']">Home </a></li>
                        <li class="sidebar-brand"><a [routerLink]="['/']"> Home  </a></li>
                    </ul>
                </li>
                <li class="sidebar-brand">
                    <a [routerLink]="['/']"><span class="fa fa-home ">Home</span></a>
                </li>
                <li class="sidebar-brand">
                    <a [routerLink]="['/']"><span class="fa fa-home ">Home</span></a>
                </li>
                <li class="sidebar-brand">
                    <a [routerLink]="['/']"><span class="fa fa-home ">Home</span></a>
                </li>
                <li class="sidebar-brand">
                    <a [routerLink]="['/']"><span class="fa fa-home ">Home</span></a>
                </li>
                <li class="sidebar-brand">
                    <a [routerLink]="['/']"><span class="fa fa-home ">Home</span></a>
                </li>
                <li class="sidebar-brand">
                    <a [routerLink]="['/']"><span class="fa fa-home ">Home</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <university-config *ngIf="isLogin"></university-config>
                        <pre *ngIf="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>
                        <div>
                            <h2>{{ 'HOME.TITLE' | translate }}</h2>
                            <label>
        {{ 'HOME.SELECT' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
      </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>