<div class="panel panel-default">
    <div class="panel-heading">
        <h6>Managing of University</h6>
    </div>
    <div class="panel-body">
        <div class="well">
            <div class="row">
                <div class="col-lg-1">
                    <button class="btn btn-default btn-sm" tooltip="Edit" placement="left" (click)="universityNameBoolean = !universityNameBoolean">
                        <i class="fa fa-edit fa-lg" *ngIf="!universityNameBoolean"></i>
                        <i class="fa fa-angle-left fa-lg" *ngIf="universityNameBoolean"></i>
                    </button>
                </div>
                <div class="col-lg-11">
                    <div *ngIf="!universityNameBoolean">
                        <span class="lead">
                            <strong>{{ universityName }}</strong> 
                        </span>
                        <span class="help-block pull-right">
                            You can <strong>change</strong> the official name of university (<i>University of Wissen</i>)
                        </span>
                    </div>
                    <div *ngIf="universityNameBoolean">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="universityName" required value="{{universityName}}">
                                    <p class="help-block text-center">Click Enter to change</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-lg-1">
                    <button class="btn btn-default btn-sm" tooltip="Edit" placement="left" (click)="universityLanguageBoolean = !universityLanguageBoolean">
                        <i class="fa fa-edit fa-lg" *ngIf="!universityLanguageBoolean"></i>
                        <i class="fa fa-angle-left fa-lg" *ngIf="universityLanguageBoolean"></i>
                    </button>
                </div>
                <div class="col-lg-11">
                    <div *ngIf="!universityLanguageBoolean">
                        <span class="lead">
                            <strong>{{ universityName }}</strong> 
                        </span>
                        <span class="help-block pull-right">
                            You can <strong>change</strong> the name of university (<i>University of Wissen</i>)
                            and the language of university (<i>English</i>)
                        </span>
                        <select name="" id="" class="form-control"></select>
                    </div>
                    <div *ngIf="universityLanguageBoolean">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
<button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">Toggle collapse
</button>
<br>
<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card card-block card-header">
    <div class="well well-lg">Some content</div>
</div>-->