<div class="panel panel-default">
    <div class="panel-heading">
        <h6>Managing of University</h6>
    </div>
    <div class="panel-body">
        <div class="well">
            <div class="row">
                <div class="col-lg-1">
                    <button class="btn btn-default btn-sm" tooltip="Edit" placement="left" (click)="universityNameBoolean = !universityNameBoolean">
                        <i class="fa fa-edit fa-lg" *ngIf="!universityNameBoolean"></i>
                        <i class="fa fa-angle-left fa-lg" *ngIf="universityNameBoolean"></i>
                    </button>
                </div>
                <div class="col-lg-11">
                    <div *ngIf="!universityNameBoolean">
                        <span class="lead">
                            <strong>{{ universityNameVal }}</strong> 
                        </span>
                        <span class="help-block pull-right" [innerHTML]="'university.edit.warning' | translate">
                        </span>
                    </div>
                    <div *ngIf="universityNameBoolean">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" #universityName (keyup.enter)="changeUniversityName(universityName.value);universityNameBoolean = !universityNameBoolean" required [value]="universityNameVal">
                                    <p class="help-block text-center">Click Enter to change</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pre>
{{universityInfosVal | json}}
</pre>
<!--
<button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">Toggle collapse
</button>
<br>
<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card card-block card-header">
    <div class="well well-lg">Some content</div>
</div>-->